/target/
!.mvn/wrapper/maven-wrapper.jar

*/target

*/.DS_Store

*.log
*.jar
*.class
# application.yml
application-local.yml
application-prod.yml
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.versionsBackup

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/.idea/
